<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">

		<form role="form"
			th:action="@{/pessoa/save}"
			th:object="${pessoa}" method="post">

		<ul th:if="${#fields.hasAnyErrors()}">
			<li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
		</ul>

		<fieldset>
			<legend>Pessoa</legend>
			<div class="form-group">
				<input type="hidden" th:field="*{id}" />
				<label for="nome">Nome</label> 
				<input type="text" th:field="*{nome}" th:errorclass="fieldError" class="form-control" /> 
				<label for="nome">Idade</label> 
				<input type="text" th:field="*{idade}" th:errorclass="fieldError" class="form-control" />
				<label for="nome">Data nascimento</label> 
				<input type="text" th:field="*{{dataNascimento}}" class="form-control" />
				
				<label for="corCabelo">Cor do cabelo</label>
				<select id="corCabelo" th:field="*{corCabelo}">
  					<option th:each="cor : ${todasCoresCabelo}" 
          				th:value="${cor}" 
          				th:text="${cor.label}" />
				</select>
				
				<label for="empregada">Empregada?</label> 
				<input type="checkbox" th:field="*{empregada}" class="form-control" />

				<ul>
					<li th:each="cargo : ${todosCargos}">
						<input type="radio"
							th:field="*{cargo}" th:value="${cargo}" /> 
						<label
							th:for="${#ids.prev('cargo')}"
							th:text="${cargo.label}" ></label>
					</li>
				</ul>
			</div>
		</fieldset>

		<button type="submit" id="submit" class="btn btn-primary" th:text="${updateMode} ? 'Alterar' : 'Incluir'"></button>
	</form>
</div>
</html>