<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">

<!-- th:action="${updateMode} ? '@{'/pessoa/{id}/edit'(id=${pessoa.id})}' : '@{/pessoa/create}'" -->

	<form role="form"
	
		th:with="createAction=@{/pessoa/create},
				 updateAction=@{/pessoa/update}"
				 
		th:action="${updateMode} ? ${updateAction} : ${createAction}"
		th:object="${pessoa}" method="post">

		<ul th:if="${#fields.hasAnyErrors()}">
			<li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
		</ul>

		<fieldset>
			<legend>Pessoa</legend>
			<div class="form-group">
				<input type="hidden" th:field="*{id}" />
				<label for="nome">Nome</label> 
				<input type="text" th:field="*{nome}" th:errorclass="fieldError" class="form-control" /> 
				<label for="nome">Idade</label> 
				<input type="text" th:field="*{idade}" th:errorclass="fieldError" class="form-control" />
				<label for="nome">Data nascimento</label> 
				<input type="text" th:field="*{{dataNascimento}}" class="form-control" />
			</div>
		</fieldset>


		<button type="submit" id="submit" class="btn btn-primary" th:text="${updateMode} ? 'Alterar' : 'Incluir'" />
	</form>
</div>
</html>